

.navbar{
    overflow: hidden;
    background-color: #1e1c1c;
    border: 1.5vw dotted white;
}

.navbar a {

  float: left;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 0.729vw  0.833vw;
  font-size: medium;
  border: solid;
  border-right-color: white;
  text-shadow: 0.09vw 0.09vw darkred;

}

#popup_login{
  float: right;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 0.729vw  0.833vw;
  font-size: medium;
  border: solid;
  background-color: rgba(139, 0, 0, 0.473);
  border-right-color: rgba(255, 255, 255, 0.563);
  border-bottom-color: rgba(255, 255, 255, 0.563);
  text-shadow: 0.09vw 0.09vw darkred;
}

.dropdown{

  float: left;
  overflow: hidden;

}

.dropbtn {
  border: none;
  outline: none;
  color: white;
  border: solid;
  border-right-color: white;
  padding: 0.729vw  0.833vw;
  font-size: medium;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  text-shadow: 0.09vw 0.09vw darkred;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: darkred;
  text-shadow: 0.09vw 0.09vw black;
}

.dropdown_items{
  display: none;
  position: absolute;
  background-color: #d2cdcde8;
  min-width: 10%;
  z-index: 1;
  
}
.dropdown_items a {
  float: none;
  color: black;
  padding: 0.729vw  0.833vw;
  text-decoration: none;
  display: block;
  text-align: left;
  text-shadow: 0.07vw 0.07vw white !important;
}

.dropdown:hover .dropdown_items {
  display: block;
}

.dropdown_items a:hover {
  background-color: darkred;
}



#titlu{
  animation: jello 2s ease 0s 1 normal none;
  text-shadow: 0.20vw 0.20vw white;
  
}


@keyframes jello {
  0% {
	transform: scale3d(1, 1, 1);
  }

  30% {
	transform: scale3d(1.25, 0.75, 1);
  }

  40% {
	transform: scale3d(0.75, 1.25, 1);
  }

  50% {
	transform: scale3d(1.15, 0.85, 1);
  }

  65% {
	transform: scale3d(0.95, 1.05, 1);
  }

  75% {
	transform: scale3d(1.05, 0.95, 1);
  }

  100% {
	transform: scale3d(1, 1, 1);
  }
}

#splatter {

    float: right;
    transition-timing-function: ease-in;
    width: 1%;
    height: 2%;
    overflow: hidden;
    opacity: 0.1;
    transition: width 2s, height 4s, opacity 3s;
}

#splatter:hover {
   width: 15%;
   height: 20%;
   opacity: 1;
}


header {
  display: block;
}

body {
  width: 90%;
  max-width: 100%;
  margin: 2em auto;
  font: 1em Arial,
    Helvetica,
    sans-serif;
  background: rgb(211,211,211);
  background: linear-gradient(180deg, rgba(211,211,211,1) 0%, rgba(38,4,16,1) 100%);
}

p{
  font-size: larger;
  letter-spacing: 0.10em;

}

article{
  display: flex;
  flex-direction: column;
}


#sunglasses {
  width: 20%;
  height: 10%;
  float: left;
  margin-left: 8%;
  opacity: 0.02;
  transition: opacity 3s linear, transform 3s ease-in-out;
}

#sunglasses:hover {
  transform: translate(0px, 545%);
  opacity: 1;
}

.imgg {
  display: flex;
}

#imgj{
  width:50%;
  height:100%;
}

.quote > i {
  display: inline;
  text-shadow: 0.07vw 0.07vw darkred;
  background-color: white;
  font-size: 3vw;
  padding: 0;
}

@media screen and (max-width: 550px) {
  .quote > i {
    font-size: 2vw;
  }
  figcaption{
    font-size: 2vw;
  }
}

figcaption{
  position: absolute;
  font-size: 2vw;

}

#logo{
  width: 100%;
}


#chnl:link{
  color:rgb(216, 126, 14);
}

#chnl:visited{
  color:rgb(66, 5, 5);
}

iframe{

  width: 100%;
  height: 100vw;
  border: solid black;
  margin-bottom: 10%;
}

#alien {
  position: fixed;
  bottom: 1%;
  right: 1%;
  border: 0.3vw solid black;
  font-size: medium;
  background-color: #d8f0c8d8;
}

footer{
	border-style: groove;
	border-bottom-color: black;
	border-top-color: darkred;
	border-width: thick;
	padding-left: 10%;
	background-color: rgba(255, 248, 220, 0.211);
  font-family: consolas;
}


.footer-class > *:nth-child(3){

  text-align: right;
  color: Tomato;
  padding-right: 5%;

}
